body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.tag1 {
    font-size: 0.8em
}

.tag2 {
    font-size: 0.9em
}

.tag3 {
    font-size: 1em
}

.tag4 {
    font-size: 1.2em
}

.tag5 {
    font-size: 1.4em
}

.tag6 {
    font-size: 1.7em
}

.tag7 {
    font-size: 2.0em
}



